body {
    background-color: #5CDB95;
  }
  
  h1 {
    color: #EDF5E1;
    margin-left: 20px;
    font-size: 90px;
  }

  #para1 {
    text-align: center;
    color: rgb(88, 146, 127);
  }

  .center {
    text-align: center;
    color: rgba(255, 130, 14, 0.397);
  }